
body {
    font-family: 'Open Sans', sans-serif;
}

form {
    border: 2px solid #fb8c00;
    margin-top: 20px;
}

#logo {
    font-family: 'Concert One', cursive;
    font-size: 40px;
    margin-left: 50px;
}

#surveyTitle {
    font-family: 'Concert One', cursive;
}

h2 {
    font-family: 'Concert One', cursive;
}

.btn {
    align-content: center;
    margin-bottom: 10px;
   
}

.input-field label {
    color: #ef6c00;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.card {
    margin-top: 60px;
    border: 2px solid #fb8c00;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    